.title {
    background-color: #002984;
    width: 100%;
    .back-icon {
        width: 20px;
        height: 20px;
        margin-right: 16px;
    }
    

    padding: 17px 18px;
    font-family: 'Nunito';
    font-style: normal;
    padding: px 0px;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}
